body {
  background-color: gray;
}

.app {
  display: flex;
  height: 100vh;
}

.card {
  display: flex;
  width: 700px;
  height: 500px;
  background-color: red;
  flex-direction: column;
  position: relative;

  .border {
    width: 130px;
    height: 130px;
    border: 5px solid black;
    border-radius: 50%;
    align-items: right;
    position: absolute;
    top: 10px;
    left: 50px;
  }

  .description {
    width: 350px;
    height: 100px;
    background-color: blue;
    border: 3px solid black;
    right: 46px;
    position: absolute;
  }

  .info {
    width: 600px;
    height: 200px;
    background-color: blue;
    border: 3px solid black;
    align-items: right;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
  }

  .footer {
    text-align: center;
    padding: 10px;
    margin-bottom: 100px;
    background-color: blue;
    z-index: 1;
    margin-top: 67%;
  }
}
